@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        min-height: 100vh;
    }

    input[type="radio"] + label {
        transition: 600ms;
    }

    input[type="radio"]:checked + label{
        color: #fff;
        transition: 500ms;
    }

    .animation {
        transition: 600ms;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    h1 {
        padding: 0;
        margin: 0;
    }
}


